.allQuestions-container {
  width:100%;
  height: 100%;
  text-align: center;
  background: #F5F7FB;
  padding-top: 20px;
  overflow: hidden;
}

.result-box {
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}
.result-box h3 {
    color:#384376;
    font-size: 15px;
    margin-top: 20px;
}

.empty-screen {
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: #F5F7FB;
  overflow: hidden;
}

.empty-screen h1 {
    text-align: center;
}

.btn-check {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding: 5px;
    background: #4D5B9E;
    border-radius: 10px;
    color: #F5F7FB;
    font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    border: 1px black;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    cursor: pointer;
  }